*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    background-color: #b1b5be;
    min-width: fit-content;
}

.main-container
{
    display: grid;
    gap: .5rem;
    margin: 2rem;
}

header
{
    background-color: #9f2063;
    color: white;
    text-align: center;
}

.grid-container
{
    background-color: #23b87c;
    color: white;
}

.grid-container-text
{
    display: none;
}

.grid-article
{
    background-color: #e4195b;
    color: white;
    margin: .75rem 2rem;
    align-content: center;
    text-align: center;
    height: 3rem;
    
}

.aside-top
{
    background-color: #116395;
    color: white;
    text-align: center;
}

.aside-bottom
{
    background-color: #25a4b5;
    color: white;
    text-align: center;
}

footer
{
    background-color: #e06b26;
    color: white;
    text-align: center;
}

header, .grid-container, .grid-article, aside, footer {
    border-radius: .5rem;
}

header, aside, footer
{
    font-size: 1.75rem;
}

@media screen and (min-width: 900px)
{
    .main-container
    {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "header header header header"
            "aside-top grid-container grid-container aside-bottom"
            "footer footer footer footer";
    }

    header
    {
        grid-area: header;
    }

    .aside-top
    {
        grid-area: aside-top;
        align-content: center;
    }

    .grid-container
    {
        grid-area: grid-container;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);;
        grid-template-areas: 
        "grid-text grid-text grid-text"
        "grid-text grid-text grid-text"
        "grid-article-1 grid-article-2 grid-article-3";
    }

    .grid-article
    {
        margin: .75rem .5rem;
    }

    .grid-container-text
    {
        display: block;
        grid-area: grid-text;
        grid: 1 / 4 / 1 / 4;
        text-align: center;
        align-content: end;
        font-size: 1.75rem;
    }

    .grid-article-1
    {
        grid-area: grid-article-1;
    }

    .grid-article-2
    {
        grid-area: grid-article-2;
    }

    .grid-article-3
    {
        grid-area: grid-article-3;
    }

    .aside-bottom
    {
        grid-area: aside-bottom;
        align-content: center;
    }

    .footer
    {
        grid-area: footer;
    }
}